{
    "openapi": "3.0.1",
    "info": {
      "title": "IDM REST API",
      "version": "2023.07.01-01"
    },
    "servers": [
      {
        "url": "https://mingle-ionapi.inforcloudsuite.com/DEVMRKT_DEV/IDM/api",
        "variables": {
          "basePath": {
            "default": "/DEVMRKT_DEV/IDM/api"
          }
        }
      }
    ],
    "security":[
      {
          "noscope_auth":[]
      }
    ],
    "tags": [
      {
        "name": "Business Context"
      },
      {
        "name": "Configuration"
      },
      {
        "name": "Connection"
      },
      {
        "name": "Datamodel"
      },
      {
        "name": "Document Output"
      },
      {
        "name": "Email"
      },
      {
        "name": "Items"
      },
      {
        "name": "Signature V1"
      },
      {
        "name": "Templates"
      },
      {
        "name": "User Analytics"
      }
    ],
    "paths": {
      "/bc": {
        "post": {
          "tags": [
            "Business Context"
          ],
          "summary": "Add an item",
          "description": "Adds an item to the content repository. Returns a document containing the newly added item. If the \"checkout\" parameter is set to \"true\" the new item left in a checked out (locked) state.",
          "operationId": "addItemApi",
          "parameters": [
            {
              "name": "$checkout",
              "in": "query",
              "description": "Valid values are \"true\" or \"false\".",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "Input document.",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AddItem"
                }
              },
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/AddItem"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "x-codegen-request-body-name": "body"
        }
      },
      "/bc/count": {
        "post": {
          "tags": [
            "Business Context"
          ],
          "summary": "Returns the number of items in the search result based on Business context message.",
          "description": "Returns a string containing the number of items in the search result. An example of a query is /MDS_File[@MDS_Name=\"MyName\"] which returns the items named \"MyName\" of the document type \"MDS_Image\".",
          "operationId": "searchCount",
          "parameters": [
            {
              "name": "$entity",
              "in": "query",
              "description": "EntityName parameter",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$state",
              "in": "query",
              "description": "The document state to search for (0 = Active, 1 = Archived and 2 = Deleted)",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "Input query.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/BCData"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "x-codegen-request-body-name": "body"
        }
      },
      "/bc/entities": {
        "post": {
          "tags": [
            "Business Context"
          ],
          "summary": "Returns entities",
          "description": "Returns a document containing a collection of entities based on Business context message.",
          "operationId": "getEntities",
          "parameters": [
            {
              "name": "$entity",
              "in": "query",
              "description": "EntityName parameter",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en-US'.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$includeReadOnly",
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "requestBody": {
            "description": "Input business context message.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/BCData"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "x-codegen-request-body-name": "body"
        }
      },
      "/bc/models": {
        "get": {
          "tags": [
            "Business Context"
          ],
          "summary": "Returns all BusinessContextModels",
          "description": "Returns a document containing all the current business context models",
          "operationId": "getModelsApi",
          "parameters": [
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/bc/models/model": {
        "get": {
          "tags": [
            "Business Context"
          ],
          "summary": "Returns a BusinessContextModel object",
          "description": "Returns a document containing a specific BusinessContextModel using the key 'entity:product:screen:docType', also fall backs to a ''(empty string) key in order to support previous versions of the api.",
          "operationId": "getModelApi",
          "parameters": [
            {
              "name": "$entity",
              "in": "query",
              "description": "EntityName parameter",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$product",
              "in": "query",
              "description": "ProductId parameter",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$screen",
              "in": "query",
              "description": "ScreenId parameter",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$docType",
              "in": "query",
              "description": "Document type parameter",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/bc/search": {
        "post": {
          "tags": [
            "Business Context"
          ],
          "summary": "Search for items",
          "description": "Returns a document containing the items matching the Business context message.",
          "operationId": "searchItems",
          "parameters": [
            {
              "name": "$offset",
              "in": "query",
              "description": "Start index of the search. Use 0 for the first item.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "$limit",
              "in": "query",
              "description": "The maximum number of returned items. Must be between 1 and 1000.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "$includeCount",
              "in": "query",
              "description": "If a search count should be included in the result, including a count may result that the operation takes longer time to execute",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "$entity",
              "in": "query",
              "description": "EntityName parameter",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$state",
              "in": "query",
              "description": "The document state to search for (0 = Active, 1 = Archived and 2 = Deleted)",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "Input query.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/BCData"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "x-codegen-request-body-name": "body"
        }
      },
      "/bc/{doctype}/attributeOrder": {
        "get": {
          "tags": [
            "Business Context"
          ],
          "summary": "Retrieve an attribute order.",
          "description": "Returns a model of attribute order related to the given document type.",
          "operationId": "retrieveAttributeOrder",
          "parameters": [
            {
              "name": "doctype",
              "in": "path",
              "description": "Document type whos AttributeOrder is to be read from IDM.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$privateSpaceName",
              "in": "query",
              "description": "The private space name of the entity",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/bc/{pid}/relatedDocuments": {
        "get": {
          "tags": [
            "Business Context"
          ],
          "summary": "Retrieve all related documents for a given pid",
          "description": "Returns a document containing the related document items for a given pid.",
          "operationId": "retrieveRelatedDocuments",
          "parameters": [
            {
              "name": "pid",
              "in": "path",
              "description": "The item's unique identifier.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "onlyAssemblable",
              "in": "query",
              "description": "Only assemblable mimetypes",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/bc/{pid}/resource": {
        "put": {
          "tags": [
            "Business Context"
          ],
          "summary": "Update an item resource",
          "description": "Updates the specified item resource in the content repository. For uploading large files this Api should be used. The text content of the file (if any) will not be text searchable when this Api is used. If the content repository supports versioning and the revisioning policy for this entity is turned on, the update will result in a new version being created. If \"checkout\" is set to \"true\" the item is checked out before the update automatically (if not already checked out) and if \"checkin\" is set to \"true\" the item is checked in after the update. Returns a document containing the updated item.",
          "operationId": "updateItemStreaming",
          "parameters": [
            {
              "name": "pid",
              "in": "path",
              "description": "The item's unique identifier.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$checkout",
              "in": "query",
              "description": "Valid values are \"true\" or \"false\".",
              "required": true,
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "$checkin",
              "in": "query",
              "description": "Valid values are \"true\" or \"false\".",
              "required": true,
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "$filename",
              "in": "query",
              "description": "The filename.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "Input resource file.",
            "content": {
              "application/octet-stream;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/InputStream"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "x-codegen-request-body-name": "body"
        }
      },
      "/bc/{pid}/resource/stream": {
        "get": {
          "tags": [
            "Business Context"
          ],
          "summary": "Retrieves an item's main resource file",
          "description": "Returns the specified item's main resource file as a stream.",
          "operationId": "retrieveMainResourceFile",
          "parameters": [
            {
              "name": "pid",
              "in": "path",
              "description": "The item's unique identifier.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/octet-stream;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/octet-stream;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/octet-stream;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/octet-stream;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/octet-stream;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/bc/{pid}/resource/{conversion}/stream": {
        "get": {
          "tags": [
            "Business Context"
          ],
          "summary": "Retrieves an item's resource file based on conversion name",
          "description": "Returns an item conversion resource file as a stream.",
          "operationId": "retrieveResourceFile",
          "parameters": [
            {
              "name": "pid",
              "in": "path",
              "description": "The item's unique identifier.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "conversion",
              "in": "path",
              "description": "Name of the coversion type, such as \"Thumbnail\" or \"Preview\".",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/octet-stream;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/octet-stream;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/octet-stream;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/octet-stream;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/octet-stream;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/config/importConfiguration": {
        "post": {
          "tags": [
            "Configuration"
          ],
          "summary": "Imports a configuration",
          "description": "Import a configuration document.",
          "operationId": "importConfiguration",
          "parameters": [
            {
              "name": "$tenants",
              "in": "query",
              "description": "One or more tenants (comma separated), this can only be used when connecting through Authorization Service with the permission \"provision\"",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "Input document.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "x-codegen-request-body-name": "body"
        }
      },
      "/config/resultlists": {
        "get": {
          "tags": [
            "Configuration"
          ],
          "summary": "Returns the result list document",
          "description": "Returns a document containing the result list.",
          "operationId": "getResultListsApi",
          "parameters": [
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/config/resultlists/resultlist/{name}": {
        "get": {
          "tags": [
            "Configuration"
          ],
          "summary": "Returns the result list document",
          "description": "Returns a document containing the result list.",
          "operationId": "getResultListApi",
          "parameters": [
            {
              "name": "name",
              "in": "path",
              "description": "DocumentType parameter",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/connection/login": {
        "get": {
          "tags": [
            "Connection"
          ],
          "summary": "Login",
          "description": "Creates a connection to the content repository.",
          "operationId": "loginApi",
          "parameters": [
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/connection/logout": {
        "get": {
          "tags": [
            "Connection"
          ],
          "summary": "Logout",
          "description": "Disconnects the connection to the content repository.",
          "operationId": "logout",
          "parameters": [
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/connection/properties": {
        "get": {
          "tags": [
            "Connection"
          ],
          "summary": "Returns all properties",
          "description": "Returns a document containing a collection of all content repository properties.",
          "operationId": "getPropertiesApi",
          "parameters": [
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/connection/properties/{property}": {
        "get": {
          "tags": [
            "Connection"
          ],
          "summary": "Returns a property",
          "description": "Returns a document containing a specified property.",
          "operationId": "getProperty",
          "parameters": [
            {
              "name": "property",
              "in": "path",
              "description": "Name of the property.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/connection/transaction/commit": {
        "get": {
          "tags": [
            "Connection"
          ],
          "operationId": "commitTransaction",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "deprecated": true
        }
      },
      "/connection/transaction/rollback": {
        "get": {
          "tags": [
            "Connection"
          ],
          "operationId": "rollbackTransaction",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "deprecated": true
        }
      },
      "/connection/transaction/start": {
        "get": {
          "tags": [
            "Connection"
          ],
          "operationId": "startTransaction",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "deprecated": true
        }
      },
      "/connection/validate": {
        "get": {
          "tags": [
            "Connection"
          ],
          "summary": "Validate",
          "description": "Validates the current connection to the content repository. This operation can be used to create heartbeat functionality.",
          "operationId": "validateConnectionApi",
          "parameters": [
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/datamodel/entities": {
        "get": {
          "tags": [
            "Datamodel"
          ],
          "summary": "Returns all entities",
          "description": "Returns a document containing a collection of all entities.",
          "operationId": "getUserEntitiesApi",
          "parameters": [
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en-US'.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "timestamp",
              "in": "query",
              "description": "Timestamp parameter",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "tenant",
              "in": "query",
              "description": "Tenant ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/datamodel/entities/classification/{classification}": {
        "get": {
          "tags": [
            "Datamodel"
          ],
          "summary": "Returns all entities for a given classification",
          "description": "Returns a document containing a collection of all entities for a given classification.",
          "operationId": "getEntitiesByClassificationApi",
          "parameters": [
            {
              "name": "classification",
              "in": "path",
              "description": "Classification parameter.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en-US'.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "timestamp",
              "in": "query",
              "description": "Timestamp parameter",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "tenant",
              "in": "query",
              "description": "Tenant ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/datamodel/entities/{name}": {
        "get": {
          "tags": [
            "Datamodel"
          ],
          "summary": "Returns an entity",
          "description": "Returns a document containing the entity data for the specified entity name.",
          "operationId": "getEntityApi",
          "parameters": [
            {
              "name": "name",
              "in": "path",
              "description": "Name of the entity.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en-US'.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/datamodel/entities/{name}/templates": {
        "get": {
          "tags": [
            "Datamodel"
          ],
          "summary": "Returns the templates for an entity",
          "description": "Returns all item templates for the entity.",
          "operationId": "listTemplatesApi",
          "parameters": [
            {
              "name": "name",
              "in": "path",
              "description": "Name of the entity.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$language",
              "in": "query",
              "description": "Language parameter, for example 'en' or 'en-US'. Enables localized error messages.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/xml;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                },
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/distribution/v1/batchStatus/{batchId}": {
        "get": {
          "tags": [
            "Document Output"
          ],
          "summary": "Document Output",
          "description": "Get status for all jobs with the same batch id. See Java Doc for more details.",
          "operationId": "batchStatus",
          "parameters": [
            {
              "name": "batchId",
              "in": "path",
              "description": "Batch Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "extendedInfo",
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/distribution/v1/printer/search/gcp": {
        "get": {
          "tags": [
            "Document Output"
          ],
          "summary": "Document Output",
          "description": "Get list of gcp printers.",
          "operationId": "getGCPPrinters",
          "parameters": [
            {
              "name": "q",
              "in": "query",
              "description": "q",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/distribution/v1/status": {
        "post": {
          "tags": [
            "Document Output"
          ],
          "summary": "Document Output",
          "description": "Get status for a submitted job.",
          "operationId": "statusList",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/distribution/v1/status/item/{pid}": {
        "get": {
          "tags": [
            "Document Output"
          ],
          "summary": "Distribution",
          "description": "Get status for a submitted job by Document PID. See Java Doc for more details.",
          "operationId": "statusItem",
          "parameters": [
            {
              "name": "pid",
              "in": "path",
              "description": "Document PID.",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/distribution/v1/status/{jobid}": {
        "get": {
          "tags": [
            "Document Output"
          ],
          "summary": "Document Output",
          "description": "Get status for a submitted job by Job ID. See Java Doc for more details.",
          "operationId": "status",
          "parameters": [
            {
              "name": "jobid",
              "in": "path",
              "description": "Job Id.",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/distribution/v1/submit": {
        "post": {
          "tags": [
            "Document Output"
          ],
          "summary": "Document Output",
          "description": "With Document Output it is possible to generate pdf files or Word files from Word templates and distribute to different targets (e-mail, print or idm). It is also possible to merge documents into one pdf or to a Word file if all documents are Word files. For example if generating one document and there is a need to add some shared legal pages at the end (or the beginning) of the document.\n\nEven if Document Output have focused a lot of generating new pdf or Word files, Document Output can be used to just send e-mail or print documents, both existing documents in IDM and document send in to Document Output.\n\nDocument Output can also be used for creating and sending e-mails with an HTML body. See Java Doc for more details on how to construct the payload.",
          "operationId": "submit",
          "parameters": [
            {
              "name": "extendedInfo",
              "in": "query",
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "requestBody": {
            "description": "Input document.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitJob"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "x-codegen-request-body-name": "body"
        }
      },
      "/distribution/v1/terminate": {
        "post": {
          "tags": [
            "Document Output"
          ],
          "summary": "Document Output",
          "description": "Terminate jobs with the specified batchIds or jobIds.",
          "operationId": "terminateJobs",
          "parameters": [
            {
              "name": "usingBatchIds",
              "in": "query",
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "requestBody": {
            "description": "Input ids.",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json;charset=utf-8": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "x-codegen-request-body-name": "body"
        }
      },
      "/email": {
        "post": {
          "tags": [
            "Email"
          ],
          "summary": "Send Email Message",
          "description": "Sends Email with attachment.",
          "operationId": "sendEmailMessage",
          "parameters": [
            {
              "name": "$useDefaultFromAddress",
              "in": "query",
[...]
