{
    "openapi": "3.0.1",
    "info": {
      "title": "Infor.Mingle.Api",
      "version": "v1"
    },
    "servers": [
      {
        "url": "https://mingle-ionapi.inforcloudsuite.com/DEVMRKT_DEV/Mingle",
        "variables": {
          "basePath": {
            "default": "/DEVMRKT_DEV/Mingle"
          }
        }
      }
    ],
    "security":[
      {
          "noscope_auth":[]
      }
    ],
    "paths": {
      "/Admin/System/Setting": {
        "get": {
          "tags": [
            "Admin"
          ],
          "summary": "Get system settings for the tenant",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SystemSettingResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SystemSettingResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SystemSettingResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SystemSettingResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SystemSettingResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/Admin/System/Timezone": {
        "get": {
          "tags": [
            "Admin"
          ],
          "summary": "Get available time zones",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SupportedTimeZonesResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SupportedTimeZonesResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SupportedTimeZonesResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SupportedTimeZonesResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SupportedTimeZonesResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/Admin/System/Language": {
        "get": {
          "tags": [
            "Admin"
          ],
          "summary": "Get available languages",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.LanguageResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.LanguageResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.LanguageResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.LanguageResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.LanguageResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/Admin/System/Locale": {
        "get": {
          "tags": [
            "Admin"
          ],
          "summary": "Get available locales",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.LocaleResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.LocaleResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.LocaleResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.LocaleResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.LocaleResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/Admin/Drillback/ApplicationList": {
        "get": {
          "tags": [
            "Admin"
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillbackAppResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillbackAppResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillbackAppResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillbackAppResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillbackAppResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/Admin/Drillback/Views/{viewsTypeId}/{isMCC}": {
        "get": {
          "tags": [
            "Admin"
          ],
          "summary": "Get Drillback views",
          "parameters": [
            {
              "name": "viewsTypeId",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "description": "",
                "format": "int32"
              }
            },
            {
              "name": "isMCC",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "boolean",
                "description": ""
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackViewResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackViewResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackViewResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackViewResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackViewResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/Admin/Drillback/Delete/{ViewsTypeId}": {
        "delete": {
          "tags": [
            "Admin"
          ],
          "summary": "Delete Drillback file",
          "parameters": [
            {
              "name": "viewsTypeId",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "description": "",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackDeleteResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackDeleteResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackDeleteResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackDeleteResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackDeleteResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/Admin/Drillback/Upload": {
        "post": {
          "tags": [
            "Admin"
          ],
          "summary": "Upload Drillback file",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackUploadResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackUploadResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackUploadResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackUploadResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Registry.DrillBackUploadResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/Admin/Drillback/Download/{drillbackName}/{viewsTypeId}/{isMCC}": {
        "get": {
          "tags": [
            "Admin"
          ],
          "summary": "Download Drillback file",
          "parameters": [
            {
              "name": "drillbackName",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "string",
                "description": "",
                "nullable": true
              }
            },
            {
              "name": "viewsTypeId",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "description": "",
                "format": "int32"
              }
            },
            {
              "name": "isMCC",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "boolean",
                "description": ""
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/Device/User/{userGUID}/Register": {
        "post": {
          "tags": [
            "Device"
          ],
          "summary": "Register a mobile device for push notifications",
          "parameters": [
            {
              "name": "userGUID",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "string",
                "description": "",
                "nullable": true
              }
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.DeviceRegisterRequest"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.DeviceRegisterRequest"
                }
              },
              "application/*+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.DeviceRegisterRequest"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.DeviceRegisterRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.DeviceRegisterRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.DeviceRegisterRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.DeviceRegisterRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/Device/User/{userGUID}/NotificationCount/Reset": {
        "post": {
          "tags": [
            "Device"
          ],
          "summary": "Reset notification count for a device.",
          "parameters": [
            {
              "name": "userGUID",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "string",
                "description": "",
                "nullable": true
              }
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.NotificationResetRequest"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.NotificationResetRequest"
                }
              },
              "application/*+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.NotificationResetRequest"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.NotificationResetRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.NotificationResetRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.NotificationResetRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.NotificationResetRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/User/Detail": {
        "get": {
          "tags": [
            "InforGO"
          ],
          "summary": "Get user detail for the identity of the current request",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.UserDetailResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.UserDetailResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.UserDetailResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.UserDetailResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.UserDetailResponse"
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Get user detail for the identity of the current request",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.UserDetailResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.UserDetailResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.UserDetailResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.UserDetailResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.UserDetailResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/favorites": {
        "get": {
          "tags": [
            "InforGO"
          ],
          "summary": "Get user getfavorites based on the current request",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteListResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteListResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteListResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteListResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/favorite": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Add new favorites based on the current request",
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteRequest"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteRequest"
                }
              },
              "application/*+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteRequest"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/delete/{favoriteId}": {
        "delete": {
          "tags": [
            "InforGO"
          ],
          "summary": "Delete favorite based on the current request",
          "parameters": [
            {
              "name": "favoriteId",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "integer",
                "description": "",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrderResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrderResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrderResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrderResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrderResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/applications": {
        "get": {
          "tags": [
            "InforGO"
          ],
          "summary": "Get Deployment information for the InforGo applications",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.ApplicationSites"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.ApplicationSites"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.ApplicationSites"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.ApplicationSites"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.ApplicationSites"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/applicationurl": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Get the Home Url for an application",
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Mingle.Api.LogicalIdRequest"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Mingle.Api.LogicalIdRequest"
                }
              },
              "application/*+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Mingle.Api.LogicalIdRequest"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Mingle.Api.LogicalIdRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Mingle.Api.LogicalIdRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Mingle.Api.LogicalIdRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Mingle.Api.LogicalIdRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/usersettings": {
        "get": {
          "tags": [
            "InforGO"
          ],
          "summary": "Get user settings based on the current request",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.UserSettingsResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.UserSettingsResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.UserSettingsResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.UserSettingsResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.UserSettingsResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/adminsettings": {
        "get": {
          "tags": [
            "InforGO"
          ],
          "summary": "Get Admin Settings",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoAdminResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoAdminResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoAdminResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoAdminResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoAdminResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/enrollment/attributevalue": {
        "get": {
          "tags": [
            "InforGO"
          ],
          "summary": "Get Attribute value for Infor Go Admin MAM Settings",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.EnrollmentAttributeResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.EnrollmentAttributeResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.EnrollmentAttributeResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.EnrollmentAttributeResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.EnrollmentAttributeResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/User/{userGUID}/ProfilePhoto": {
        "get": {
          "tags": [
            "InforGO"
          ],
          "summary": "Download user profile photo",
          "parameters": [
            {
              "name": "userGUID",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "string",
                "description": "",
                "nullable": true
              }
            },
            {
              "name": "thumbnailType",
              "in": "query",
              "description": "",
              "schema": {
                "type": "integer",
                "description": "",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/v1/mingle/go/User/ProfilePhoto": {
        "get": {
          "tags": [
            "InforGO"
          ],
          "summary": "Download user profile photo",
          "parameters": [
            {
              "name": "thumbnailType",
              "in": "query",
              "description": "",
              "schema": {
                "type": "integer",
                "description": "",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/v1/mingle/go/updatefavoriteorder": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Reorder favorites based on the current request",
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrder"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrder"
                }
              },
              "application/*+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrder"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrder"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrder"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrder"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrder"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrderResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrderResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrderResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrderResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.FavoriteOrderResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/getDrillbackURL": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Get Drillback URL by request params",
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoDrillbackRequest"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoDrillbackRequest"
                }
              },
              "application/*+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoDrillbackRequest"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoDrillbackRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoDrillbackRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoDrillbackRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoDrillbackRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoDrillbackResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoDrillbackResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoDrillbackResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoDrillbackResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.InforGoDrillbackResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/Device/{userGUID}/Register": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Register a mobile device for push notifications",
          "parameters": [
            {
              "name": "userGUID",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "string",
                "description": "",
                "nullable": true
              }
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.DeviceRegisterRequest"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.DeviceRegisterRequest"
                }
              },
              "application/*+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.DeviceRegisterRequest"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.DeviceRegisterRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.DeviceRegisterRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.DeviceRegisterRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.DeviceRegisterRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/Device/{userGUID}/NotificationCount/Reset": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Reset notification count for a device.",
          "parameters": [
            {
              "name": "userGUID",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "string",
                "description": "",
                "nullable": true
              }
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.NotificationResetRequest"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.NotificationResetRequest"
                }
              },
              "application/*+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.NotificationResetRequest"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.NotificationResetRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.NotificationResetRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.NotificationResetRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.NotificationResetRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialBaseResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/User/{userGUID}/update/profilePhoto": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Update user profile picture",
          "parameters": [
            {
              "name": "userGUID",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "string",
                "description": "",
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialUserResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialUserResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialUserResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialUserResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SocialUserResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/applicationicon/{siteGuid}": {
        "get": {
          "tags": [
            "InforGO"
          ],
          "summary": "Download Application Icon",
          "parameters": [
            {
              "name": "siteGuid",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "string",
                "description": "",
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/{attachmentId}/download": {
        "get": {
          "tags": [
            "InforGO"
          ],
          "summary": "Download attachment",
          "parameters": [
            {
              "name": "attachmentId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/{tenantId}/getjwtToken": {
        "get": {
          "tags": [
            "InforGO"
          ],
          "summary": "Get JWT token from TechStack service",
          "parameters": [
            {
              "name": "tenantId",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "string",
                "description": "",
                "nullable": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.JwtTokenResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.JwtTokenResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.JwtTokenResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.JwtTokenResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.JwtTokenResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/maintenance": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Validate if a site has a maintenance window",
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "application/*+xml": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "application/*+json": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.MaintenanceAPIResp"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.MaintenanceAPIResp"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.MaintenanceAPIResp"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.MaintenanceAPIResp"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.MaintenanceAPIResp"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/maintenanceapps": {
        "get": {
          "tags": [
            "InforGO"
          ],
          "summary": "Get Maintainace Apps",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.MaintenanceAppsResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.MaintenanceAppsResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.MaintenanceAppsResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.MaintenanceAppsResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.MaintenanceAppsResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/inforgossoversion": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Get InforGo SSOVersion",
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGoSSORequest"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGoSSORequest"
                }
              },
              "application/*+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGoSSORequest"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGoSSORequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGoSSORequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGoSSORequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGoSSORequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.FeatureSetResp"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.FeatureSetResp"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.FeatureSetResp"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.FeatureSetResp"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.FeatureSetResp"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/InforGoMAM": {
        "get": {
          "tags": [
            "InforGO"
          ],
          "summary": "Get InforGoMAM Settings",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Save InforGoMAM Settings",
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                }
              },
              "application/*+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoAdminSettingsResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/saveInforGONativeApp": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Save InforGONativeApp",
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                }
              },
              "application/*+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoNativeApp"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoNativeApp"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoNativeApp"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoNativeApp"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoNativeApp"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/updateInforGONativeApp": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Update InforGONativeApp",
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                }
              },
              "application/*+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoNativeApp"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoNativeApp"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoNativeApp"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoNativeApp"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoNativeApp"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/deleteInforGONativeApp": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Delete InforGONativeApp",
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                  },
                  "description": "",
                  "nullable": true
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                  },
                  "description": "",
                  "nullable": true
                }
              },
              "application/*+xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                  },
                  "description": "",
                  "nullable": true
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                  },
                  "description": "",
                  "nullable": true
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                  },
                  "description": "",
                  "nullable": true
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                  },
                  "description": "",
                  "nullable": true
                }
              },
              "application/*+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.RegisteredNativeApplications"
                  },
                  "description": "",
                  "nullable": true
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.ListRegisteredNativeApplications"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.ListRegisteredNativeApplications"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.ListRegisteredNativeApplications"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.ListRegisteredNativeApplications"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.ListRegisteredNativeApplications"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/getInforGoProfileConfiguration": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Get InforGOProfileConfiguration",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoProfileConfigResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoProfileConfigResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoProfileConfigResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoProfileConfigResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.Portal.InforGo.InforGoProfileConfigResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/saveInforGoProfileConfiguration": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Save InforGOProfileConfiguration",
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "application/*+xml": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "application/*+json": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/mingle/go/deleteInforGoProfileConfiguration": {
        "post": {
          "tags": [
            "InforGO"
          ],
          "summary": "Delete InforGOProfileConfiguration",
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "application/*+xml": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              },
              "application/*+json": {
                "schema": {
                  "type": "string",
                  "description": "",
                  "nullable": true
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/IONAttachment/{ionAttachmentType}/{taskItemId}/attachments": {
        "get": {
          "tags": [
            "IONAttachment"
          ],
          "summary": "Get attachments for tasks,alerts and workflows",
          "parameters": [
            {
              "name": "ionAttachmentType",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "taskItemId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.IONAttachmentResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.IONAttachmentResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.IONAttachmentResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.IONAttachmentResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.IONAttachmentResponse"
                  }
                }
              }
            }
          },
          "deprecated": true
        }
      },
      "/IONAttachment/{attachmentId}/download": {
        "get": {
          "tags": [
            "IONAttachment"
          ],
          "summary": "Download attachment",
          "parameters": [
            {
              "name": "attachmentId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/System.Net.Http.HttpResponseMessage"
                  }
                }
              }
            }
          }
        }
      },
      "/IONAttachment/{ionAttachmentType}/{taskItemId}/upload": {
        "post": {
          "tags": [
            "IONAttachment"
          ],
          "summary": "upload attachment",
          "parameters": [
            {
              "name": "ionAttachmentType",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "taskItemId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.IONAttachmentResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.IONAttachmentResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.IONAttachmentResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.IONAttachmentResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.IONAttachmentResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/IONAttachment/{ionAttachmentType}/attachments/{attachmentId}/delete": {
        "post": {
          "tags": [
            "IONAttachment"
          ],
          "summary": "Delete Task/Alert/Workflow attachment",
          "parameters": [
            {
              "name": "ionAttachmentType",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "attachmentId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.FileResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.FileResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.FileResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.FileResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.FileResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/IONAttachment/supportedfile/list": {
        "get": {
          "tags": [
            "IONAttachment"
          ],
          "summary": "Get Supported file formats and max file size",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SupportedFileResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SupportedFileResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SupportedFileResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SupportedFileResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.SupportedFileResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/IONAttachment/User/{userGUID}/Share": {
        "post": {
          "tags": [
            "IONAttachment"
          ],
          "summary": "Share to user feed page",
          "parameters": [
            {
              "name": "userGUID",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "string",
                "description": "",
                "nullable": true
              }
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.MessageRequest"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.MessageRequest"
                }
              },
              "application/*+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.MessageRequest"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.MessageRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.MessageRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.MessageRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.Social.Entities.MessageRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.ActivityFeedResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.ActivityFeedResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.ActivityFeedResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.ActivityFeedResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.Social.Entities.ActivityFeedResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/IONAttachment/Application/AbsoluteUrl": {
        "post": {
          "tags": [
            "IONAttachment"
          ],
          "summary": "Get Absolute URL by ViewId,LogicalId and query params",
          "requestBody": {
            "description": "",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.DrillbackRequestwithParams"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.DrillbackRequestwithParams"
                }
              },
              "application/*+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.DrillbackRequestwithParams"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.DrillbackRequestwithParams"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.DrillbackRequestwithParams"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.DrillbackRequestwithParams"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/Infor.MinglePortal.Entities.DrillbackRequestwithParams"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/Infor.MinglePortal.Entities.StringResponse"
                  }
                },
                "application/json": {
                  "schema": {
[...]
